@property --my-green {
    syntax: '<color>';
    inherits: true;
    initial-value: #16803C;
}

@property --my-blue {
    syntax: '<color>';
    inherits: true;
    initial-value: #0E4F9A;
}

@property --my-green-dark {
    syntax: '<color>';
    inherits: true;
    initial-value: #0e5226;
}
/*Elements*/
body{
    overflow-x: hidden
}
:root {
    --img-size: 100px;
    --gap: 10px;
    --visible: 5;
    --step: calc(var(--img-size) + var(--gap));
    --my-green: #16803C;
    --my-blue: #0E4F9A;
    --my-green-dark: #0e5226
}

label.btn.section-1-class-button:hover {
    color: var(--my-blue);
    border: 0.1rem solid var(--my-blue);
    border-radius: 4px;
    transition: border 0.1s ease-in;
}

h4.my-h4.d-flex.justify-content-center {
    font-size: 1.5rem;
}

label.btn.section-1-class-button {
    color: var(--my-blue);
    border: 1px solid var(--my-blue);
    border-radius: 4px;
    margin-left: -0.5rem;
}

span.left-rating {
    margin-top: -9px;
    font-weight: 700;
    font-size: clamp(0.9rem, 1.11vw, 1rem);
}

span.left-rating::before {
    content: "★★★★★";
    color: #4CAF51;
    font-size: clamp(0.8rem, 1.22vw, 1.1rem);
    position: static;
    transform: none;
}

/*Classes*/
.v-viewport {
    height: calc((var(--step) * var(--visible)) - var(--gap));
    width: var(--img-size);
}

.v-track {
    transition: transform 0.4s ease-in-out;
}

.v-item {
    height: var(--img-size);
    width: var(--img-size);
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.2s, border 0.2s;
    border: 2px solid transparent;
    margin-bottom: 10px;
}

.v-item:hover {
    opacity: 0.8;
}

.v-track .v-item.active-thumb {
    border-color: var(--my-blue);
    opacity: 1;
}

.h-viewport {
    width: 100%;
    cursor: grab;
    user-select: none;
}

.h-track {
    transition: transform 0.1s ease-out;
}

.h-item {
    flex: 0 0 20%;
    box-sizing: border-box;
    padding: 2px;
}

.item-bg {
    background-color: #E1E1E1;
    padding: 10px;
    padding-bottom: 24px;
    padding-top: 1px;
}

.item-bg img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    pointer-events: none;
}

.btn-nav {
    background-color: var(--my-green);
    color: white;
    border: none;
    width: 100%;
    height: 37px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 19px;
}
#customCarousel .section-1-mobile-carousal-progress{
    width: 250px; 
    height: 5px; 
}
.section-1-mobile-carousal-progress-inner{
    width: 11.11%; 
    background-color: var(--my-blue); 
    transition: width 0.3s ease;
}
.btn-nav:disabled {
    background-color: #7EB093;
    cursor: not-allowed;
}

.chevron-down {
    transform: rotate(180deg);
}

.my-h4 {
    color: var(--my-blue);
    font-weight: 700;
    font-size: clamp(0.6rem, 1.46vw, 1.32rem);
}

.row {
    --bs-gutter-x: 1.5rem;
}

.row>* {
    padding-right: calc(var(--bs-gutter-x) * .3);
    padding-left: calc(var(--bs-gutter-x) * .3);
}

.btn-check:checked+label.btn.section-1-class-button {
    background-color: var(--my-blue);
    color: white;
}

.section-1-class-button span {
    font-size: 0.9rem;
    font-weight: 700;
}

.my-cards {
    border: 0.1rem solid var(--my-blue);
}

.cards-row-1 span {
    color: var(--my-blue);
    font-weight: 700;
    font-size: 28px;
}

.cards-row-2 span {
    color: var(--my-blue);
    font-size: 22px;
}

.cards-row-3 span {
    font-weight: 700;
    font-size: 19px;
    text-decoration: line-through;
}

.cards-row-4 span {
    color: var(--my-green);
    font-size: 30px;
    font-weight: 700;
    margin-top: -6px;
}

.cards-row-x span {
    font-size: 32px;
    font-weight: 700;
    margin-top: -6px;
}

.cards-row-5 span {
    color: var(--my-green);
    font-weight: 700;
    margin-top: -6px;
}

.cards-row-6 span {
    font-weight: 700;
}

.cards-row-7 span {
    font-weight: 700;
    font-size: 13px;
}

.col-3.my-cards.mt-4 {
    width: 32%;
}

.row.section-1-switch-buttons {
    width: auto;
}

.row .my-switch-button {
    background-color: var(--my-green);
    width: 75.5%;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
}

.col-3.my-cards.mt-4.right-card {
    height: 21.3rem;
    border: 0.17rem solid var(--my-blue);
}

.cards-row-0 span {
    background-color: var(--my-blue);
    color: white;
    width: 97%;
    height: 2.25rem;
    font-size: 1.11rem;
    font-weight: 700;
}

.row .my-switch-button:hover {
    background-color: var(--my-green-dark);
    color: white;
}

.section-2 {
    background-color: #003D78;
}

.section-2 div h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 3.14rem;
}

.section-2 div p.text-light {
    font-size: 1.5rem;
    font-weight: 300;
}

.hover-circle {
    width: 65px;
    height: 65px;
    border: 0.04rem solid #fcfcfc;
    border-radius: 50%;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: #1F3A5F;
    position: relative;
    left: -17px;
}

.hover-circle img {
    width: 93%;
    height: 93%;
    object-fit: cover;
    transition: width 0.3s ease, height 0.3s ease;
}

.section-2-right-head {
    font-weight: 700;
    font-size: 1.12rem;
}

.section-2-right-text {
    color: #E5E7EB;
    font-size: 1rem;
    font-weight: 400;
    transition: color 0.3s ease;
    line-height: 1.6rem;
}

.section-2-right-row:hover .hover-circle {
    transform: scale(1.1);
}

.section-2-right-row:hover .section-2-right-text {
    color: white;
}

.section-2-right-row:hover .hover-circle img {
    width: 100%;
    height: 100%;
}

.section-2-right-row:hover {
    transform: translateX(0.5rem);
}

.section-2-right-row {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.section-2-left-image {
    max-width: 500px;
    position: relative;
    z-index: 2;
}

.hexagon-wrapper {
    position: relative;
}

.hexagon-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    width: 104%;
    height: 104%;
    z-index: 1;
    pointer-events: none;
}

.zoom-box {
    width: 100%;
    cursor: zoom-in;
    border-radius: 4px;
    background-color: #fff;
}

.zoom-box:hover #main-product-img {
    transform: scale(2);
}

.section-3 {
    background-color: #F2F3F6;
}

.section-3-head {
    font-size: 2.2rem;
    font-weight: 700;
    color: rgb(0, 61, 120);
    line-height: 2.4rem;
}

.my-custom-avatar {
    width: 16rem;
    height: 16rem;
    border: 3px solid white;
    border-radius: 4px;
    outline: 2px solid #E6E7EB;
    outline-offset: 0.55rem;
}

.section-3-card {
    max-width: 19.2rem;
}

.star-rating {
    gap: 8px;
    font-size: 1rem;
    color: #FACC14;
}

.section-3 .section-3-card .card-text {
    color: rgb(55, 65, 81);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.custom-check-badge {
    width: 21px;
    height: 21px;
    background-color: #16A349;
    border-radius: 50%;
}

.custom-check-badge svg {
    width: 60%;
    height: 60%;
    color: white;
}

.custom-check-badge-text {
    color: rgb(75, 85, 99);
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
}

.section-3-card-footer {
    background-color: #0E4F9A;
    margin-left: -2rem;
    margin-right: -2em;
    margin-bottom: -1rem;
}

.section-3-card-footer-text {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding-top: 2rem;
}

.section-3-card-button {
    width: auto;
    height: 1.5rem;
    margin-bottom: 2rem;
    padding: 10px;
}

.section-3-card-button span {
    color: rgb(13, 79, 154);
    font-weight: 400;
    font-size: 12px;
}

.section-4 {
    background-color: #003D78;
}

.section-4 .section-4-container {
    background-color: white;
    width: 78.5%;
}

.ratio.ratio-16x9 {
    width: 33rem;
    height: 26rem;
}

.section-4-heading {
    font-family: sans-serif;
    color: rgb(0, 61, 120);
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.2rem;
}

.section-4 .section-4-text-simple {
    color: rgb(55, 65, 81);
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 2rem;
}

.me-4-5 {
    margin-right: 2.7rem;
}

.section-4-text-bold {
    color: rgb(17, 24, 39);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}

.section-4 .section-4-button {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    background-color: #17803C;
    color: #FFFFFF;
    width: 37%;
    height: 60px;
    border-radius: 8px;
}

.section-4 .section-4-button:hover {
    background-color: #156534;
    color: #FFFFFF;
}

.section-4 .section-4-button:active {
    background-color: #156534;
    color: #FFFFFF;
}
.section-1-ipad-mobile{
    height: 105px;
    width: 100px;
    object-fit: cover;
}


.rounded-circle {
  width: 40px;
  height: 40px;
  padding: 0;
}

#carousel-counter {
  font-family: sans-serif;
  color: #333;
  min-width: 100px;
  text-align: center;
}
.mobile-corousal-button{
    background-color: var(--my-green);
    color: white;
    border: none;
}

.nav-btn {
  background-color: #17803D; 
  color: white;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  font-size: 12px;
}
.nav-btn:hover { background-color: #166534; }
.dot {
  width: 7px;
  height: 7px;
  background-color: #d1d5db; 
  border-radius: 50%;
  transition: background-color 0.3s;
}
.dot.active {
  background-color: #1f2937; 
}
.carousel-item {
    height: 100%;
}
.carousel-item .card {
    height: 100%;
}
.section-3-carousal-nav{
    margin-left: -1.9rem;
}
.swipe-to-view-more{
    color: rgb(113, 119, 133);
    font-size: 0.95rem;
}
.custom-toggle-container {
    max-width: 1260px; 
    margin-right: auto;
    margin-left: auto;
  }
/*ids*/
#content-onetime .my-cards {
    height: 17.5rem;
    border: 0.1rem solid var(--my-blue);
}

#content-onetime .middle-card {
    height: 19rem;
    border: 0.17rem solid var(--my-blue);
}

#main-product-img {
    width: 100%;
    transition: transform 0.1s ease-out;
    transform-origin: center center;
}


/*Responsiveness*/
@media (max-width: 980px) {
    .my-h4 {
        font-size: 1.1rem;
        text-align: center;
    }

    .v-item {
        width: 80px;
        height: 80px;
        margin-left: 13px;
    }

    .chevron-up {
        width: 82px;
        margin-left: 7px;
        height: 30px;
    }

    .chevron-down {
        width: 82px;
        margin-left: 7px;
        height: 30px;
    }

    .v-viewport {
        height: 472px;
    }

    h4.my-h4.d-flex.justify-content-center {
        font-size: 1.2rem;
    }

    .row.section-1-switch-buttons {
        width: 114%;
    }

    .section-1-head-caption {
        font-size: 13px;
        margin-top: -8px;
    }

    .label.btn.section-1-class-button {
        border: 2px solid var(--my-blue);
    }

    .item-bg.shadow-sm {
        height: 75px;
        width: 72px;
    }

    .item-bg img {
        height: 70px;
    }

    .my-small-cards {
        border: 3px solid var(--my-blue);
        margin-left: 10px;
        margin-top: 0.1rem;
    }

    .cards-row-1 span {
        font-size: 18px;
    }

    .cards-row-2 span {
        font-size: 12px;
        margin-top: -4px;
    }

    .cards-row-3 span {
        font-size: 15px;
        margin-top: -3px;
    }

    .cards-row-4 span {
        font-size: 18px;
        padding-top: 0.2rem;
    }
    .cards-row-5 span {
        font-size: 13px;
        padding-top: 0.16rem;
    }

    .cards-row-6 span {
        font-size: 15px;
        margin-top: -0.1rem;
    }

    .cards-row-7 span {
        font-weight: 600;
        font-size: 11px;
        margin-top: -0.1rem;
    }
    #main-product-img{
        width: 90%;
    }
    .row .my-switch-button{
        width: auto;
        margin-right: -10px;
        border-radius: 4px;
    }
    .cards-row-3 span.price{
        text-decoration: none;
        font-size: 17px;
        font-weight: 900;
        padding-top: 17px;
    }
    .big-row{
        height: 200px;
    }
    .cards-row-4 span span {
        font-size: 13px;
        font-weight: 800;
    }
    .section-1-class-button span{
        font-size: 1.1rem;
    }
    .section-2 div h1{
        font-size: 2.25rem;
    }
    .section-2-left-image{
        max-width: 382px;
    }
    .my-custom-avatar{
        width: 8rem;
        height: 8rem;
    }
    .section-3-card-footer-text{
        text-align: center;
        padding-top: 1.25rem;
        font-size: 0.8rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .section-3-card-button{
        margin-bottom: 0.5rem;
    }
    .section-3-head{
        text-align: center;
    }
    .ratio.ratio-16x9{
        width: auto;
    }
    .section-4 .section-4-container{
        width: 100%;
        max-width: 790px;
    }
    .section-4 .section-4-button{
        width: 68%;
    }
    .section-4-heading{
        font-size: 1.8rem;
    }
    .me-4-5 {
        margin-right: 3rem;
    }
    .section-2-ipad-text{
        width: 256px;
    }
    .hover-circle{
        left: -11px;
        border: 0.07rem solid #fcfcfc;
    }
    .section-2-left-image-ipad{
        margin-top: 5.5rem;
    }
    .hexagon-wrapper{
        width: 75%;
    }
    .section-2-ipad-header{
        margin-left: 10px;
    }
    .custom-check-badge{
        width: 30px;
        height: 21px;
    }
    .custom-toggle-container {
        max-width: 100%;
  }
  .ipad-check-circle{
    padding-top: 1.25rem;
  }
  .section-1-class-button-left{
        padding-left: 40px;
        padding-right: 40px;
    }
    .section-3-ipad-text{
        height: 183px;
    }
}

@media (max-width: 767px) {
    .big-row{
        height: auto;
    }
    .section-3-head{
        text-align: center;
        font-size: 1.875rem;
    }
    .my-custom-avatar{
        width: 22.5rem;
        height: 22.5rem;
    }
    .star-rating{
        font-size: 0.72rem;
    }
    .ratio.ratio-16x9{
        margin-top: -2.2rem;
        height: 320px;
        border-radius: 40px;
        width: auto;
    }
    .section-4-heading{
        font-size: 1.5rem;
    }
    .section-4-right{
        margin-top: -4rem;
        width: 80% ;
        margin-left: 2rem;
    }
    .section-4 .section-4-text-simple{
        font-size: 1.125rem;
    }
    .mobile-onetime-center-card{
        border: 3px solid #17803D;
    }
    .mobile-subs-third-card{
        border: 3px solid #17803D;
    }
    .item-bg.shadow-sm{
        height: 133px;
        width: 95px;
    }
    .item-bg{
        padding: 5px;
    }
    .item-bg img{
        height: 120px;
    }
    .hexagon-svg{
        top: 40%;
        width: 110%;
    }
    .hover-circle{
        width: 60px;
        height: 60px;
        border: 0.1rem solid #fcfcfc;
        left: -5px;
    }
    .section-3-card{
        max-width: 25rem;
    }
    .section-3-carousal-nav{
        margin-left: 0rem;
    }
    .section-4-mobile{
        width: 96.5%;
    }
    .section-4 .section-4-container{
        width: 99%;
    }
    .section-4 .section-4-button{
        width: 55%;
    }
    .custom-toggle-container {
       max-width: 540px;
       margin-right: auto;
       margin-left: auto;
    }
    .section-2-left-image-ipad{
       margin-top: 2rem;
    }
    .section-2-ipad-text{
       width: 75%;
    }
    .section-2-right-head{
        font-size: 1rem;
    }
    /*from next*/
    .section-2 div h1{
        font-size: 1.875rem;
        text-align: center;
    }
    .section-2 div p.text-light{
        font-size: 1.1rem;
        text-align: center;
    }
    .section-2-left-image{
        max-width: 332px;
        padding-bottom: 4rem;
    }
    .section-2-right{
        padding-left: 2.5rem;
    }
    .section-3-ipad-text{
        height: auto;
    }
    .ipad-check-circle{
        padding-top: 0;
    }
    .custom-check-badge{
        width: 18px;
        height: 18px;
    }
    .custom-check-badge-text{
        font-size: 0.75rem;
        line-height: 18px;
    }
    .section-3-card-footer{
        height: 100px;
    }
}
