/*@font-face {
    font-family: 'System-UI';
    src: url('assets/ui/ui.ttf') format('truetype-variations');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}*/
@property --my-green {
  syntax: '<color>';
  inherits: true;
  initial-value: #16803C;
}
@property --my-blue{
    syntax: '<color>';
    inherits: true;
    initial-value: #0E4F9A;
}
@property --my-green-dark{
    syntax: '<color>';
    inherits: true;
    initial-value: #0e5226;
}
/*Elements*/
body {
    font-family: 'System-UI', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
:root {
    --img-size: 100px;
    --gap: 10px;
    --visible: 5;
    --step: calc(var(--img-size) + var(--gap));
    --my-green: #16803C;
    --my-blue: #0E4F9A;
    --my-green-dark: #0e5226
}
label.btn.section-1-class-button:hover{
    color: var(--my-blue); 
    border: 0.1rem solid var(--my-blue);
    border-radius: 4px;
    transition: border 0.1s ease-in;
}
h4.my-h4.d-flex.justify-content-center{
    font-size: 1.5rem;
}
label.btn.section-1-class-button {
    color: var(--my-blue); 
    border: 1px solid var(--my-blue);
    border-radius: 4px;
    margin-left: -0.5rem;
}
span.left-rating{
    margin-top: -9px;
    display: flex;             
    align-items: center; 
    font-weight: 700;      
}
span.left-rating::before {
    content: "★★★★★";
    display: inline-block;
    color: #4CAF51;           
    font-size: 1.1rem;        
    position: static; 
    transform: none;
}
/*Classes*/
.v-viewport {
    height: calc((var(--step) * var(--visible)) - var(--gap));
    width: var(--img-size);
    overflow: hidden;
}
.v-track {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    transition: transform 0.4s ease-in-out;
}
.v-item {
    height: var(--img-size);
    width: var(--img-size);
    object-fit: cover;
}
.h-viewport {
    width: 100%;
    overflow: hidden;
    cursor: grab;
    user-select: none;
}
.h-track {
    display: flex;
    transition: transform 0.1s ease-out; 
}
.h-item {
    flex: 0 0 20%; 
    box-sizing: border-box;
    padding: 2px; 
}
.item-bg {
    background-color: #E1E1E1;
    padding: 10px;      
    padding-bottom: 24px; 
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-bg img {
    width: 100%;
    height: 120px;   
    object-fit: cover;
    pointer-events: none; 
}
.btn-nav {
    background-color: var(--my-green);
    color: white;
    border: none;
    width: 100%;
    height: 37px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 19px;
}
.btn-nav:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.chevron-up {
    display: inline-block;
}
.chevron-down {
    display: inline-block;
    transform: rotate(180deg);
}
.my-h4{
    color: var(--my-blue);
    font-weight: 700;
    font-size: 1.32rem;
}
.row {
    --bs-gutter-x: 1.5rem; 
}
.row > * {
    padding-right: calc(var(--bs-gutter-x) * .3) !important;
    padding-left: calc(var(--bs-gutter-x) * .3) !important;
}
.btn-check:checked + label.btn.section-1-class-button{
    background-color: var(--my-blue);
    color: white;
}
.section-1-class-button span {
    font-size: 0.9rem;
    font-weight: 700;
}
.my-cards{
    border: 0.1rem solid var(--my-blue);
}
.cards-row-1 span{
    color: var(--my-blue);
    font-weight: 700;
    font-size: 28px;
}
.cards-row-2 span{
    color: var(--my-blue);
    font-size: 22px;
}
.cards-row-3 span{
    font-weight: 700;
    font-size: 19px;
    text-decoration: line-through;
}
.cards-row-4 span{
    color: var(--my-green);
    font-size: 30px;
    font-weight: 700;
    margin-top: -6px;
}
.cards-row-x span{
    font-size: 32px;
    font-weight: 700;
    margin-top: -6px;
}
.cards-row-5 span{
    color: var(--my-green);
    font-weight: 700;
    margin-top: -6px;
}
.cards-row-6 span{
    font-weight: 700;
}
.cards-row-7 span{
    font-weight: 700;
    font-size: 13px;
}
.col-3.my-cards.mt-4 {
    width: 14rem;
}
.row.section-1-switch-buttons{
    width: 44.2rem;
}
.row .my-switch-button {
    background-color: var(--my-green);
    width: 11.3rem;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
}
.col-3.my-cards.mt-4.right-card {
    height: 21.3rem;
    border: 0.17rem solid var(--my-blue);
}
.cards-row-0 span {
    background-color: var(--my-blue);
    color: white;
    width: 97%;
    height: 2.25rem;
    font-size: 1.11rem;
    font-weight: 700;
}
.row .my-switch-button:hover{
    background-color: var(--my-green-dark);
    color: white;
}
.section-2{
    background-color: #003D78;
}
.section-2 div h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 3.14rem;
}
.section-2 div p.text-light{
    font-size: 1.5rem;
    font-weight: 300;
}
.hover-circle {
  width: 65px;
  height: 65px;
  border: 0.04rem solid #fcfcfc; 
  border-radius: 50%;        
  overflow: hidden;          
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; 
  cursor: pointer;
  background-color: #1F3A5F;
  position: relative;
  left: -17px;
}
.hover-circle img {
  width: 93%;
  height: 93%;
  object-fit: cover;
  transition: width 0.3s ease, height 0.3s ease;
}
.section-2-right-head{
    font-weight: 700;
    font-size: 1.12rem;
}
.section-2-right-text{
    color: #E5E7EB;
    font-size: 1rem;
    font-weight: 400;
    transition: color 0.3s ease;
    line-height: 1.6rem;
}
.section-2-right-row:hover .hover-circle{
    transform: scale(1.1);
}
.section-2-right-row:hover .section-2-right-text{
    color: white;
}
.section-2-right-row:hover .hover-circle img{
    width: 100%;
    height: 100%;
}
.section-2-right-row:hover{
    transform: translateX(0.5rem);
}
.section-2-right-row{
    transition: transform 0.3s ease;
    cursor: pointer;
}
.section-2-left-image{
    max-width: 500px;
    position: relative;
    z-index: 2; 
    display: block;
}
.hexagon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hexagon-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2); 
    width: 104%;
    height: 104%;
    z-index: 1;
    pointer-events: none;
}
/*ids*/
#content-onetime .my-cards{
    height: 17.5rem;
    border: 0.1rem solid var(--my-blue);
}
#content-onetime .middle-card{
    height: 19rem;
    border: 0.17rem solid var(--my-blue);
}